<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Better Coaching - Coaches</title>
</head>

<body>
  {% extends 'main.html' %}
  {% load static %}
  {% block content %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <!-- Main Section -->
  <main class="coaches">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="display-1 py-3">
          <h1>Welcome to Better Coaching!</span></h1>

        </div>
        <!-- Search Section -->
        <div class="hero-section__search my-3 d-flex align-items-center justify-content-center py-3 mt-2">
          <form class="d-flex align-items-end gap-2 flex-column w-50" id="searchForm" action="{% url 'coaches' %}"
            method="get">
            <div class="input-group">
              <input class="form-control" id="formInput#search" type="text" name="search_query"
                placeholder="Search by Coach Name" value="{{search_query}}" />
            </div>

            <input class="btn btn-outline-secondary" type="submit" value="Search For Coach" />
          </form>
        </div>
      </div>
    </section>
    <!-- Search Result: CoachList -->
    <!-- Card Sections -->
    <div class="card-group d-flex justify-content-evenly gap-2">
      {% for coach in coaches %}
      {% if coach.user.rank and coach.user.division and coach.headline and coach.display_name %}
      <!-- Card -->
      <!-- Using some inline styling here to avoid the borders being cut off on the left -->
      <div class="card border-dark rounded justify-content-center align-items-center"
            style="border-left: #212529 solid 1px; ">
        <a href="{% url 'coach' coach.display_name %}">
          <img class="card-img-top" src="{{coach.profile_img.url}}" alt="coach thumbnail" />
        </a>
        <div class="card-body">
          <!-- Title -->
          <h3 class="card-title">{{coach.display_name}}</h3>
          <p class="card-text">{{coach.headline|slice:"60"}}</p>

          <!-- Rating Average -->
          <p class="card-text">Avg Rating: {{coach.get_average|floatformat:2}}</p>

          <!-- Rating Total-->
          <p class="card-text">Review{{coach.rating_total|pluralize:"s: "}}{{coach.rating_total}}</p>

          <!-- Rank -->
          <p class="tag tag--pill tag--main card-text">
            Rank: {{coach.user.rank}} {{coach.user.division}}
          </p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% include 'pagination.html' with queryset=coaches custom_range=custom_range %}
  </main>
  {% endblock content %}
</body>

</html>