<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Better Coaching - Coaches</title>
  </head>
  <body>
    {% extends 'main.html' %} 
    {% load static %} 
    {% block content %}
    <!-- Main Section -->
    <main class="coaches">
      <section class="hero-section text-center">
        <div class="container container--narrow">
          <div class="hero-section__box">
            <h2>Search for <span>Coaches</span></h2>

          </div>
          <!-- Search Section -->
          <div class="hero-section__search">
            <form id = "searchForm" class="form" action="{% url 'coaches' %}" method="get">
              <div class="form__field">
                <label for="formInput#search">Search By Coaches </label>
                <input
                  class="input input--text"
                  id="formInput#search"
                  type="text"
                  name="search_query"
                  placeholder="Search by Coach Name"
                  value="{{search_query}}"
                />
              </div>

              <input
                class="btn btn--sub btn--lg"
                type="submit"
                value="Search"
              />
            </form>
          </div>
        </div>
      </section>
      <!-- Search Result: CoachList -->
      <section class="CoachesList">
        <div class="container">
          <div class="grid grid--three">
            <!-- Card Sections -->
            {% for coach in coaches %}
            {% if coach.user.rank and coach.user.division and coach.headline and coach.display_name %}
            <div class="column">
              <div class="card coach">
                <a href="{% url 'coach' coach.display_name %}" class="coach">
                  <img
                    class="coach__thumbnail"
                    src="{{coach.profile_img.url}}"
                    alt="coach thumbnail"
                  />
                  <div class="card__body">
                    <h3 class="coach__rating" style="margin-bottom: 8px;">{{coach.display_name}}</h3>
                    <p>{{coach.headline|slice:"60"}}</p>
                    <div class="coach--rating">
                      <span style="font-weight: bold">{{coach.rating_ratio|floatformat:2}}</span>
                      Avg Rating
                    </div>
                    <div class="coach--rating">
                      <span style="font-weight: bold">{{coach.rating_total}}</span>
                      Review{{coach.rating_total|pluralize:"s"}}
                    </div>
                    <div class="coach__tags">
                      <span class="tag tag--pill tag--main">
                        Rank: {{coach.user.rank}} {{coach.user.division}}
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            {% endif %} 
            {% endfor %}
          </div>
        </div>
      </section>
      {% include 'pagination.html' with queryset=coaches custom_range=custom_range %}
    </main>
    {% endblock content %}
  </body>
</html>
