<!DOCTYPE html>
<html lang="en">
{% extends 'main.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{coach.name}} - Coach Page</title>
</head>
<body>
  {% block content %}
  <main class="profile my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <div class="card text-center">
                    <div class="card__body coach">
                        <img class="avatar avatar--xl"
                            src="{{coach.profile_img.url}}">
                        <h2 class="coach__name">{{coach.name}}</h2>
                        <h3><a href="{% url 'update-coach' coach.name %}">Edit coach</a></h3>
                        <!-- Rank -->
                        {% for rank in coach.rank.all %}
                        <p class="coach__title" style="font-weight: bold; font-size: x-large;">{{rank}}</p>
                        {% endfor %}
                        <p class="coach__title">{{coach.rating}}</p>
                        <span style="font-weight: bold;">{{coach.rating_total}}</span>
                        Review{{coach.rating_total|pluralize:"s"}}
                        <br>
                        <span style="font-weight: bold;">{{coach.rating_ratio}}%</span>
                        Positive
                        <br>
                        <!-- Only show socials if student purchases a session -->
                        <!-- Socials -->
                        <!-- <ul class="coach__social">
                            <li>
                                <a title="Discord" href="#" target="_blank"><i
                                        class="im im-discord"></i></a>
                                {{coach.discord_link}}
                            </li>
                        </ul> -->
                        
                        <a href="#" class="btn btn--sub btn--lg" style="margin-top: 2em;">Send Message
                        </a>
                    </div>
                </div>
            </div>

            <div class="column column--2of3">
                <div class="coachInfo">
                    <h3 class="coachInfo__title">About Me</h3>
                    <p class="coachInfo__about">
                        {{coach.body}}
                    </p>
                </div>
                <div class="coachInfo">
                    <h3 class="coachInfo__subtitle">Accomplishments</h3>
                    <div class="coachInfo__otherSkills">
                        <span class="tag tag--pill tag--sub tag--lg">
                            <small>{{coach.accomplishments}}</small>
                    </div>
                </div>
            </div>

        </div>
    </main>
  {% endblock content %}
</body>
</html>
