<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Better Coaching - Coaches</title>
</head>
<body>
  {% extends 'index.html' %}

  {% block content %}
    <h1>Coaches</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Review Total</th>
        <th>Review Rating</th>
        <th>Date Joined</th>
      </tr>
      
      {% for coach in coaches.all %}
        <tr>
          <td><a href="{% url 'coach' coach.id %}">{{coach.name}}</a></td>
          <td>{{coach.rank.all}} </td>
          <td>{{coach.rating_total}} </td>
          <td>{{coach.rating_ratio}}% </td>
          <td>{{coach.created_date}}</td>
        </tr>
      {% endfor %}
    </table>
  {% endblock content %}
  
</body>
</html>

