
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{% extends 'main.html' %}
{% load static %}
  <!-- UI -->
  <link rel="stylesheet" href="{% static 'uikit/uikit.css' %}" />
  <!-- Search UI -->
  <link rel="stylesheet" href="{% static 'css/app.css'%}" />
  {% block content %}
  <!-- Main Section -->
  <main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">New Messages(<span>{{unread_count}}</span>)</h3>
      <ul class="messages">
      {% if user_messages %}
        {% for message in user_messages %}
          {% if message.is_read == False %}
            <li class="message message--unread">
          {% else %}
            <li class="message message--read">
          {% endif %}
          <a href="message.html">
            <span class="message__author">{{message.name}}</span>
            <span class="message__subject">{{message.subject}}</span>
            <span class="message__date">{{message.created_date}}</span>
          </a>
        </li>
        {% endfor %}
      {% else %}
        <h3>No messages.</h3>
      {% endif %}
      </ul>
    </div>
  </main>
  {% endblock content %}
</body>

</html>