{% extends 'main.html' %}
{% block content %}
{% if page == 'register' %}
<!-- REGISTER -->
<div class="container d-flex justify-content-center">
  <div class="card px-3">
    <div class="text-center">
      <h3>Account SignUp</h3>
      <p>Create an account.</p>
    </div>
    <form action="{% url 'register' %}" method="POST" class="form-group d-flex flex-column justify-content-evenly">
      <!-- Fields -->
      {% csrf_token %}
      {% for field in forms %}
      <label class="form-label">{{field.label}}</label>
      {{field}}
      {% if field.help_text %}
      <small>{{field.help_text}}</small>
      {% endif %}
      {% for error in field.errors %}
      <p style="color: red;">{{error}}</p>
      {% endfor %}
      {% endfor %}
      <button class="btn btn-primary mb-3" type="submit">Signup</button>
      <button class="btn btn-secondary mb-3"  type="button" href="{% url 'login' %}">Log In</button>
      <span class="fs-5">Already have an Account?</span>
    </form>
  
  </div>
</div>
{% else %}
<!-- LOGIN -->
<div class="container d-flex justify-content-center align-items-center">
  <div class="card px-3 text-center">
    <!-- Welcome -->
    <h3>Account Login</h3>
    <p>Welcome Back!</p>

    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <!-- Input:Name -->
      <div class="mb-3">
        <label class="form-label text-start" for="usernameInput">Username: </label>
        <input class="form-control" id="usernameInput" type="text" name="username"
          placeholder="Enter your username..." autofocus/>
      </div>

      <!-- Input:Password -->
      <div class="mb-3">
        <label class="form-label" for="passwordInput">Password: </label>
        <input class="form-control" id="passwordInput" type="password" name="password" />
      </div>
      <div class="mb-3">
        <button class="btn btn-outline-dark w-100 mb-2" type="submit">Log In</button>
        <a href="{% url 'reset_password' %}">Forgot password?</a>
      </div>
    </form>
    
    <div class="d-flex justify-content-center align-items-center flex-column">
      <span class="fs-5">Don't have an account?</span>
      <a href="{% url 'register' %}"> Sign Up</a>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}