<!DOCTYPE html>
{% load static %}
<html lang="en">
  <meta charset="UTF-8" />
  <meta
    name="description"
    content="A coaching platform for League of Legends coaching."
  />

  <!-- Styles -->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'uikit/styles/uikit.css' %}"
  />
  <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />

  <!-- Highlight.js Styles -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/styles/default.min.css"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/styles/night-owl.min.css"
  />

  <title>BetterCoaching</title>
  <body>
    {% include 'nav-bar.html' %} 
    {% if messages %} 
    {% for message in messages %}
    <div class="alert  alert--{{message.tags}}">
      <p class="alert__message">{{message}}</p>
      <button class="alert__close">⨯</button>
    </div>
    {% endfor %} 
    {% endif %} 
    {% block content %} 
    {% endblock content %}
  </body>
  <script src="{% static 'uikit/app.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

</html>
