<!DOCTYPE html>
{% load static %}
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="robots" content="noindex" />
  <meta name="description"
    content="An coaching platform for league of legends coaching." />

  <!-- Styles -->
  <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
  <link rel="stylesheet" href="{% static 'css/app.css' %}" />

  <!-- Highlight.js Styles -->
  <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/styles/default.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/styles/night-owl.min.css" />

  <title>BetterCoaching - Home</title>
<body>
  {% include 'nav-bar.html' %}
  {% block content %}
    <h1>Welcome to better Coaching</h1>
    <footer>Footer</footer>
  {% endblock content %}
</body>
</html>