<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Coaching</title>
</head>
<body>
  {% load static %}
  <!-- Header Section -->
  <header class="header">
    <div class="container container--narrow">
      <a href="{% url 'coaches' %}" class="header__logo">
        <img src="{% static 'images/BG_logo.jpg' %}" alt="BetterCoaching Logo" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'coaches' %}">Coaches</a></li>
          <li class="header__menuItem"><a href="">Inbox</a></li>
          {% if user.is_staff %}
          <li class="header__menuItem"><a href="{% url 'add-coach' %}" class="btn btn--sub">Add Coach</a></li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="header__menuItem"><a href="{% url 'account'%}">My Account</a></li>
          <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Logout</a></li>
          {% if user.profile.is_coach %}
          <li class="header__menuItem"><a href="{% url 'update-coach' %}">Coach Dashboard</a></li>
          {% endif %}
          {% if user.profile.profile_img %}
          <li class="header__menuItem"><a class="avatar avatar--lg">
          <img src="{{user.profile.profile_img.url}}" alt="avatar thumbnail" />
          </a></li>
          {% endif %}
          {% else %}
          <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>
          {% endif %}

        </ul>
      </nav>
    </div>
  </header>
</body>
</html>